$--dark-text: #e8e6e3de;
$--dark-bg-primary: #181a1b;
$--dark-bg-secondary: #202223;
$--dark-border: #e8e6e366;

$--default-text: #000000de;
$--default-bg-primary: #ffffff;
$--default-bg-secondary: #f2f2f2;
